li {
  list-style: none;
}

.animation-up-late {
  transition: opacity 0.2s ease-out 0s, transform 0.5s ease-out 0s;
  width: 960x;
  height: auto;

  .tit-brunch {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin: 147px auto 0;
  }
  .desc-brunch {
    display: block;
    color: #959595;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    width: 960px;
    margin: 0 auto;
  }
  .tab_week {
    margin-top: 32px;
    .screen-out {
      position: absolute;
      overflow: hidden;
      width: 0;
      height: 0;
      line-height: 0;
      text-indent: -9999px;
    }
  }
}

.desc-brunch {
  margin-top: 10px !important;
}

.list-tab {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;

  li {
    display: flex;
    align-items: center;
    padding-right: 62px;

    &:last-child {
      padding-right: 0;
    }
  }

  .link-tab {
    color: #959595;
    position: relative;
    display: inline-block;
    padding: 0 14px 12px;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;

    &:hover {
      color: #333;
    }

    &.active {
      color: #333;
      font-weight: 500;

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 40px;
        height: 2px;
        background-color: #00c6be;
        transform: translateX(-50%);
      }
    }
  }
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}
