.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 50px 0 50px;
  transition: all 0.3s ease;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    margin-top: 0;
    padding: 5px 30px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .left-section {
    display: flex;
    align-items: center;
    .title {
      font-size: 20px;
      margin-left: 10px;
      font-family: "Noto Sans DemiLight", "Malgun Gothic", sans-serif;
      font-weight: 500;
      .story {
        text-decoration-line: overline;
        margin-left: 2px;
      }
    }
    .hamburger-button {
      border: none;
      background-color: transparent;
      cursor: grab;
      .hamburger {
        max-width: 30px;
        max-height: 23px;
        color: transparent;
        border: none;
      }
    }
  }

  .right-section {
    display: flex;
    align-items: center;

    .button {
      width: 64px;
      height: 28px;
      background-color: transparent;
      border: 1px solid #959595;
      border-radius: 16px;
      color: #666;
      font-size: 12px;
      text-decoration: none;
      text-align: center;
      cursor: grab;
    }
    .search-button {
      background-color: transparent;
      border: none;
      cursor: grab;
      .search {
        width: 18px;
        height: 18px;
        margin: 7.5px 0 2px 16px;
      }
    }
  }
}
